* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-size: contain;
  background-image: url(images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-color: hsl(225, 100%, 94%);
  font-family: "Red Hat Display", sans-serif;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  min-height: 90vh;
}

.panel {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  width: 400px;
  min-height: 70vh;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 3px 10px 7px rgb(0 0 0 / 0.1);
}

.main-image {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: nowrap;
  width: 400px;
}

img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 1rem;
}
.summary h1 {
  padding: 1rem;
}
.summary p {
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-content: center;
  color: hsl(224, 23%, 55%);
  text-align: center;
}

.plan {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  border-radius: 10px;
  height: 13%;
  padding: 1rem;
  background-color: hsl(225, 100%, 98%);
}

.plan-detail {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.plan-detail h2 {
  font-size: 0.9rem;
}

.plan-detail p {
  font-size: 0.9rem;
  color: hsl(224, 23%, 55%);
}

.plan a {
  font-weight: 700;
  font-size: 0.8rem;
  color: hsl(245, 75%, 52%);
}

.plan a:hover {
  color: hsl(224, 23%, 55%);
  text-decoration: none;
}

.buttons {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-payment {
  background-color: hsl(245, 75%, 52%);
  color: white;
  border: none;
  font-weight: 700;
  padding: 1rem 5.8rem;
  border-radius: 10px;
  margin-bottom: 2rem;
  box-shadow: 0 3px 10px 7px rgb(0 0 0 / 0.1);
}

.btn-payment:hover {
  background-color: hsl(228, 45%, 44%);
}

.btn-cancel {
  background-color: white;
  color: hsl(224, 23%, 55%);
  border: none;
  font-weight: 700;
}

.btn-cancel:hover {
  color: hsl(223, 47%, 23%);
}
.attribution {
  font-size: 0.9rem;
  padding-top: 5rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
